### 엑셀 조작 기구
파이썬으로 엑셀 스프레드 시트의 상호 작용 및 조작이 가능하다
### 자료 처리기
파이썬으로 스프레드시트의 자료를 쓰거나 읽을 수 있다.
### 분석 엔진
파이썬은 스프레드시트에 분석 기능을 제공하여 VBA 프로그래밍을 완전히 대체할 수 있다.

In [21]:
import numpy as np
import pandas as pd
import xlrd, xlwt
import xlsxwriter
path = 'data/' # data 폴더가 워킹 디렉토리 하위 폴더여야 한다.

### 워크북 생성(.xls)

In [22]:
wb = xlwt.Workbook()
wb

In [23]:
wb.add_sheet('first_sheet', cell_overwrite_ok = True)

In [24]:
wb.get_active_sheet()

0

In [25]:
# 워크시트 객체에 변수명 ws_1을 부여
ws_1 = wb.get_sheet(0)
ws_1

In [26]:
# 워크시트 객체 생성 및 변수 이름 부여
ws_2 = wb.add_sheet('second_sheet')

In [27]:
data = np.arange(1,65).reshape((8,8))
data

array([[ 1,  2,  3,  4,  5,  6,  7,  8],
       [ 9, 10, 11, 12, 13, 14, 15, 16],
       [17, 18, 19, 20, 21, 22, 23, 24],
       [25, 26, 27, 28, 29, 30, 31, 32],
       [33, 34, 35, 36, 37, 38, 39, 40],
       [41, 42, 43, 44, 45, 46, 47, 48],
       [49, 50, 51, 52, 53, 54, 55, 56],
       [57, 58, 59, 60, 61, 62, 63, 64]])

In [28]:
ws_1.write(0,0,100)
# write 100 in cell "A1"

In [30]:
wb.save(path + "workbook.xls")

### Generating Workbooks(xlsx)

In [31]:
wb = xlsxwriter.Workbook(path + 'workbook.xlsx')

In [32]:
ws_1 = wb.add_worksheet('first_sheet')
ws_2 = wb.add_worksheet('second_sheet')

In [34]:
data.shape

(8, 8)

In [35]:
for c in range(data.shape[1]):
    for r in range(data.shape[0]):
        ws_1.write(r, c, data[r, c])
        ws_2.write(r, c, data[c, r])
wb.close()

In [49]:
wb = xlsxwriter.Workbook(path + 'chart.xlsx')
ws = wb.add_worksheet()

# Write cumsum of random values in first column
values = np.random.randn(15).cumsum()
ws.write_column('A1', values)

# create a new chart object
chart = wb.add_chart({'type': 'line'})

# add a series to the chart
chart.add_series({'values': '=Sheet1!$A$1:$A$15',
                  'marker': {'type': 'diamond'},})

ws.insert_chart('C1', chart)

wb.close()

## Reading from Workbooks

In [51]:
book = xlrd.open_workbook(path + 'workbook.xlsx')
book

In [52]:
book.sheet_names()

['first_sheet', 'second_sheet']

In [53]:
sheet_1 = book.sheet_by_name('first_sheet')
sheet_2 = book.sheet_by_index(1)
sheet_1

In [54]:
sheet_2

In [55]:
sheet_2.name

'second_sheet'

In [56]:
sheet_1.ncols, sheet_1.nrows

(8, 8)

In [57]:
cl = sheet_1.cell(0,0)
cl.value

1.0

In [58]:
cl.ctype

2

In [59]:
sheet_2.row(3)

[number:4.0,
 number:12.0,
 number:20.0,
 number:28.0,
 number:36.0,
 number:44.0,
 number:52.0,
 number:60.0]

In [60]:
sheet_2.col(3)

[number:25.0,
 number:26.0,
 number:27.0,
 number:28.0,
 number:29.0,
 number:30.0,
 number:31.0,
 number:32.0]

In [62]:
sheet_1.col_values(3, start_rowx = 3, end_rowx = 7) 
# 3번째 column기준 3행 부터 6행까지 return

[28.0, 36.0, 44.0, 52.0]

In [63]:
sheet_1.row_values(3, start_colx = 3, end_colx = 7)

[28.0, 29.0, 30.0, 31.0]

In [66]:
for r in range(sheet_1.nrows):
    for c in range(sheet_1.ncols):
        print('%i' % sheet_1.cell(r, c).value, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64

## Using OpenPyxl

In [67]:
import openpyxl as oxl

ModuleNotFoundError: No module named 'openpyxl'

### Using pandas for Reading and Writing

In [69]:
df_1 = pd.read_excel(path + 'workbook.xlsx',
                     'first_sheet', header = None)
df_2 = pd.read_excel(path + 'workbook.xlsx',
                     'second_sheet', header = None)

In [71]:
import string
columns = []
for c in range(data.shape[1]):
    columns.append(string.ascii_uppercase[c])
columns

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [72]:
df_1.columns = columns
df_2.columns = columns
df_1

    A   B   C   D   E   F   G   H
0   1   2   3   4   5   6   7   8
1   9  10  11  12  13  14  15  16
2  17  18  19  20  21  22  23  24
3  25  26  27  28  29  30  31  32
4  33  34  35  36  37  38  39  40
5  41  42  43  44  45  46  47  48
6  49  50  51  52  53  54  55  56
7  57  58  59  60  61  62  63  64

In [73]:
df_2

   A   B   C   D   E   F   G   H
0  1   9  17  25  33  41  49  57
1  2  10  18  26  34  42  50  58
2  3  11  19  27  35  43  51  59
3  4  12  20  28  36  44  52  60
4  5  13  21  29  37  45  53  61
5  6  14  22  30  38  46  54  62
6  7  15  23  31  39  47  55  63
7  8  16  24  32  40  48  56  64

In [74]:
df_1.to_excel(path + 'new_book_1.xlsx', 'my_sheet')

In [75]:
wbn = xlrd.open_workbook(path + 'new_book_1.xlsx')

In [76]:
wbn.sheet_names()

['my_sheet']

In [79]:
wbw = pd.ExcelWriter(path + 'new_book_2.xlsx')
df_1.to_excel(wbw, 'first_sheet')
df_2.to_excel(wbw, 'second_sheet')
wbw.save()

In [80]:
wbn = xlrd.open_workbook(path + 'new_book_2.xlsx')

In [83]:
wbn.sheet_names()

['first_sheet', 'second_sheet']

In [84]:
data = np.random.rand(20, 10000)

In [85]:
data.shape

(20, 10000)

In [86]:
data.nbytes

1600000

In [87]:
df = pd.DataFrame(data)

In [89]:
%time df.to_excel(path + 'data.xlsx', 'data_sheet')

Wall time: 10.2 s

In [91]:
% time np.save(path + 'data', data) 
# save as numpy file

Wall time: 6.01 ms

In [92]:
% time df = pd.read_excel(path + 'data.xlsx', 'data_sheet')

Wall time: 4.94 s

In [93]:
% time data = np.load(path + 'data.npy')

Wall time: 4 ms

In [94]:
data, df = 0.0, 0.0
!rm $path*

'rm'은(는) 내부 또는 외부 명령, 실행할 수 있는 프로그램, 또는
배치 파일이 아닙니다.